/* Фон всей сцены */
.root {
    -fx-background-color: #ffffff;
}

/* Метки (Label) */
.label {
    -fx-font-size: 14px;
    -fx-font-family: "System";
    -fx-text-fill: black;
}

/* Поля ввода (TextField и PasswordField) */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #444444;
    -fx-border-width: 1px;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-font-family: "System";
}

.text-field:focused,
.combo-box:focused {
    -fx-border-color: #f58b40;
}

/* Кнопка */
.button {
    -fx-background-color: #f58b40;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "System";
    -fx-padding: 5;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

/* эффект при наведении на кнопку */
.button:hover {
    -fx-background-color: #f06f05;
}

/* Основное поле ComboBox */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #444444;
    -fx-border-width: 1px;
    -fx-padding: 4;
    -fx-font-size: 14px;
    -fx-font-family: "System";
}

/* Стрелка внутри ComboBox */
.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 5;
}

/* Выпадающий список (контейнер) */
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #444444;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-font-family: "System";
}

/* Элемент при наведении мыши */
.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #f0f0f0;
}

/* Выбранный элемент в списке */
.combo-box-popup .list-cell:filled:selected {
    -fx-background-color: #f58b40;
    -fx-text-fill: white;
}

/* Элемент с фокусом */
.combo-box:focused {
    -fx-border-color: #f58b40;
}
